.price-switcher{
    display: inherit;
    justify-content: center;
    align-items: center;
    color: hsl(234, 14%, 74%);
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 26px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(235, 8%, 31%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  input:checked + .slider {
    background-color: hsl(235, 18%, 86%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(235, 18%, 86%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  .slider.round {
    border-radius: 26px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  