*{
    box-sizing: border-box;
}

.content {
    position: relative;
    text-align: center;
    white-space: pre-line;
    margin-top: 3.5rem;
    background-image: url('../img/header@2x_b52d8f7c7bf19d6c702569d1072ed6a2.webp');
    background-size:cover; 
    height: 100vh;
}

.content .heading-section {
    padding: 8rem 1rem 0;
    margin-bottom: 10rem;
    position: relative;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-size: 5vw;
    color: #1F1F1F;
    line-height:1.05;
    font-weight: 600;
    width: 40%;
    text-align: center;
    margin-top: -25rem;
}

.get-started{
    background-color: #E44232;
    color: white;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    margin: 2rem 0 0;
    font-weight: 800;
    border-radius: 10px;
}

.get-started:hover{
    background-color: #e7493b;
}

@media screen and (min-width: 340px) and (max-width: 1053px) {
    .heading{
        width: 60%;
        font-size: 8vw;
    }
}
