.footer-section{
    display: flex;
    justify-content: space-around;
    background-color: #FFF9F3;
    padding: 8rem 2rem 2rem 2rem;
}

.column-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px 4rem 0px 0px;
    width:70%;
}

.footer-heading{
    color: #575757;
    font-size: 1rem;
    margin: 0 0 2rem;
    font-family:Arial, Helvetica, sans-serif;
}

.column-items .footer-subhead {
    margin: 0 0 2rem;
    font-size: 1rem;
    color: #1F1F1F;
    text-transform: uppercase;
}

.column-items .footer-subhead:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer-info{
    color: #1F1F1F;
    font-size: 1rem;
    margin: 1rem 0 2rem;
}

.social{
    display: flex;
    align-items: center;
}

.social li {
    margin-right: 1rem;
    width:8%;
    height: 8%;
}