*,
::after,
::before {
  box-sizing: border-box;
}

body, button, div, h1, h2, h3, h4, h5, h6, ol, p, ul {
  margin: 0;
  padding: 0;
  border: 0;
}


body {
  line-height: 1;
  background: #fff;
}


.main {
  display: block;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-left: auto;
  margin-right: auto;
}

/* Header section */

.head-top {
  top: 0;
  left: 0;
  right: 0;
  z-index: 11000;
  position: fixed;
  padding: 0;
}

.inner-head{
  background-color: #fff;
  padding: 0 1.2rem;
  height: 3.6rem;
}

.inner-head nav {
  display: flex;
  position: relative;
  align-items: center;
  flex: 1;
  min-height: 3rem;
  padding:0 1rem;
}


.logo {
    display: inline-flex;
    color: #fdf4f3;
    margin: 0 1rem 0 3rem;
    z-index: 12000;
    font-size: 1.2rem;
    line-height: 3;
    padding-right: 2rem;
    letter-spacing: 2;
    font-weight: 700;  
}


.logo:hover{
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}


.left-nav-items{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.left-nav-items  li{ 
 font-weight: 500;
 font-size: 1rem;
 height:100%;
 margin: 0;
 display:flex;
 cursor:pointer;
 padding: 0 1rem;
}

.left-nav-items  li:hover{
  border-bottom: 1px solid #E44232;
  background-color: #F5F5F5;
  transition: background-color 0.1s;
}



 .right-nav-items{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.right-nav-items li{
  font-weight: 500;
  height:100%;
  font-size: 1rem;
  margin: 0;
  display:flex;
  cursor:pointer;
  padding: 0 1rem;
 }

 .right-nav-items  li:hover{
  border-bottom: 1px solid #E44232;
  background-color: #F5F5F5;
  transition: background-color 0.1s;
}


.item{
  padding: 1rem 1rem 1rem 1rem;
}
