*,
::after,
::before {
  box-sizing: border-box;
}


body{
    background-color: #FAFAFA;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: #333;
}

.signup_page{
    display: flex;
    justify-content: center;
}

.signup_page_frame{
    margin: 3.125rem 0;
    border-radius: 8px;
    border: solid 1px #dbdbdb;
    background: #fff;
    padding: 1.5625rem;
}

.signup_page_logo{
    text-align: left;
    margin-bottom: 14px;
}

#signup{
    box-sizing: border-box;
    overflow-x: hidden;
}


.signup_form{
    max-width: 400px;
    font-size: 0.8125rem;
    color: #000;
    margin: auto;
    width: 400px;
}

#signup .signup_items {
    display: flex;
    position: relative;
}

#signup .process_one, #signup .process_two {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    padding: 0 3px;
}

#signup .signup_items, #signup .process_one, #signup .process_two {
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    animation-fill-mode: both;
}

.signup_form .button_google, .signup_form .button_facebook, .signup_form .button_apple {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    font-weight: 400;
    font-size: 0.8125rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.button_google, .button_apple, .button_facebook {
    text-shadow: none;
    padding: 6px !important;
    line-height: 24px;
    min-width: 17.0625rem;
    font-weight: normal;
    text-align: left;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #777;
    text-align: center;
}

.button_google{
    margin-top: 1.5rem;
}

.social_button{
    position: relative;
    border-radius: 3px;
    color: #202020;
    text-decoration: none;   
}

h1{
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 2rem;
}

img{
    margin-right: 0.75rem;
}

.button_google:hover{
    border: 1px solid black;
}

.button_facebook:hover{
    border: 1px solid black;
    background-color: #EEEEEE;
}

.button_apple:hover{
    border: 1px solid black;
    background-color: #EEEEEE;
}

/* Horizontal line */
.separator {
    padding-top: 2rem;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    height: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    position: relative;
}

h2 { 
    width:100%; 
    text-align:center; 
    border-bottom: 1px solid #ccc; 
    line-height:0.1em; 
    margin:1.2rem 0 1.2rem; 
} 
h2 span { 
    background:#fff; 
    color: #ccc;
    font-size: 0.8125rem;
    padding:0 0.625rem;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
}
.middle_separator {
    position: absolute;
    padding: 0 1rem;
    background: #fff;
    top: -7px;
    left: 30%;
}

.signup_form .field {
    margin-bottom: 0.8rem;
}

.signup_form .label {
    display: block;
    font-weight: 700;
    font-size: 0.8125rem;
    margin-bottom: 5px;
}

.signup_form input {
    box-sizing: border-box;
    font-size: 0.8rem;
    font-weight: 400;
    width: 100%;
    padding: .75em 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.signup_form form .submit_button {
    cursor: pointer;
    text-align: center;
    display: block;
    height: auto;
    width: 100%;
    font-size: 0.8rem !important;
    font-weight: 700;
    padding: 9px 12px;
    box-sizing: border-box;
    border-radius: 5px;
}
.submit_button_red{
    background: 0;
    background-color: rgba(0, 0, 0, 0);
    background-color: #db4c3f;
    color: #fff !important;
    text-shadow: none;
    border: 1px solid transparent;
}

.signup_form .submit_button:hover{
    background-color: #c21505;
}

.email-form{
    margin-bottom: 0.5rem;
}
.agreement_text{
    color: #666;

}

.login-seperator {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    height: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    position: relative;
}


.stay_login_label{
    display: block;
    margin-top: 1.4rem;
    margin-bottom: 0.9rem;
    color: #666;
    line-height: 1em;
}

.stay_login_label input[type="checkbox"] {
    margin-left: 0;
}

.signup_form input[type="checkbox"] {
    display: inline-block;
    width: unset;
}

.isa_error{
    margin: 10px 0px;
    padding:12px;
    color: #D8000C;

}