.tab-label::after {
  content: "❯";
  text-align: center;
  transition: all 0.2s;
}
.tab-content {
  max-height: 0;
  transition: all 0.35s;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
}