.customOverlay {
    background: rgba(0,0,0,0.7);
}
  .customModal {
    background: #fff;
    max-width: 500px;
    width: 100%;
    top: 8rem;
    border-radius: 10px;
}

select::-ms-expand {
  display: none;
}
.modalWidth {
  width: 40rem;
}
