@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

#root {
    height: 100%;
}

.heading-section {
height: 100%;
min-height: 100vh;
}